head
  link(rel='stylesheet', href='/style.css')
body
  header.header 

    
    
    p #{videoName} is in the 
    a(href='/encoding') moderation queue.

    #{player}
    p
	
	
    a(href='/') upload another!
    p
    #linklist
     <a href="/SFW">Videos Safe For Work</a><br/>
     <a href="/nazism">Videos that may contain Nazis</a><br/>
     <a href="/no_nazism">Videos that do not contain Nazis</a><br/>
     <a href="/shirtlessmale">Videos that may contain shirtless men</a><br/>
     <a href="/no_shirtlessmale">Videos that do not contain shirtless men</a><br/>
     <a href="/femaleswimwear">Videos that may contain women in swimwear</a><br/>
     <a href="/no_femaleswimwear">Videos that do not contain women in swimwear</a><br/>
     <a href="/no_guns">Videos that do not have guns</a><br/>
     <a href="/yes_guns">Videos that do have guns</a><br/>
     <a href="/no_smoking">Videos that do not have smoking</a><br/>
     <a href="/yes_smoking">Videos that do have smoking</a><br/>