body
  header.header 
    
    
    
    p here's the data extracted:
	
    p videoId: #{videoId}
    p video name: #{videoName}
    p #{iframecode}
    p player URL: #{player}
	
	
	
    a(href='/') upload another!